
.div-title {

    border-style: solid;
    border-color: black;
    font-weight: bold;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
    font-size: 30px;
    background-image: url(https://cdn.wikimg.net/en/splatoonwiki/images/thumb/0/09/S3_Splatfest_Grass_vs_Fire_vs_Water.png/800px-S3_Splatfest_Grass_vs_Fire_vs_Water.png);
    background-size: 400px;
    background-position: right;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    
    
}


.div-title-text {

    transform: scaleX(-1);
    
}


.div-buttons {

    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}


.water-button {

    display: inline-block;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    border-radius: 50%;
    transition: background-color 0.2s;

}

.water-button:hover {

    cursor: pointer;
    background-color: white;
    animation-name: water-bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes water-bounce {

    0% {

        transform: translateY(0px);
    }

    50% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(0px);
    }
}

.water-button:active {

    background-color: black;

}

.blastoise {

    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}


.fire-button {

    display: inline-block;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    margin-left: 190px;
    background-color: red;
    transition: background-color 0.2s;
    
}

.fire-button:hover {

    cursor: pointer;
    background-color: white;
    animation-name: fire-bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;   
}

@keyframes fire-bounce {

    0% {

        transform: translateY(0px);
    }

    50% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(0px);
    }
}

.fire-button:active {

    background-color: black;
}

.charizard {

    width: 70px;
    height: 70px;
}


.grass-button {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    border-style: solid;
    border-color: black;
    display: inline-block;
    margin-left: 200px;
    transition: background-color 0.2s;
    
}

.grass-button:hover {

    cursor: pointer;
    background-color: white;
    animation-name: grass-bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes grass-bounce {

    0% {

        transform: translateY(0px);
    }

    50% {

        transform: translateY(-10px);

    }

    100% {

        transform: translateY(0px);
    }
}

.grass-button:active {

    background-color: black;

}

.venusaur {

    width: 95px;
    height: 80px;
}

.score {

    color: white;
    display: block;

}

.choice {

    color: white;
    display: block;
}

.percentage {

    color: white;
    display: block;
}

.result {

    color: white;
    display: block;

}

.div-score {

    margin-top: 45px;
    height: 150px;
    width: 500px;
    max-width: 200px;
    margin-left: 400px;
    margin-right: auto;
    display: inline-block;
    background-color: black;
    
}

.reset-button:hover {

    cursor: pointer;
}

.grid {

    background-color: black;    
    height: 300px;
    border-style: solid;
    border-color: red;
    border-width: 20px;
    border-radius: 100px;
}

body {

    background-image: url(https://i.pinimg.com/736x/31/52/b1/3152b151b84a7016d0d150b5780944eb.jpg);
    background-size: cover;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes slide {

    to {

        background-position: 1050px 0;
    }
}
